/* links */
.button1{
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 15px;
    border-style: solid;
    border-radius: 10px;
}
.button1:hover{
    background-color: yellowgreen;
    color: black;
}
.button2{
    text-decoration: none;
    border-style: dotted;
    color: black;
    border-radius: 30px;
    padding: 10px;
}
.button2:hover{
    background-color: green;
    color: white;
}
.button3{
    text-decoration: none;
    color: black;
    border-style: solid;
    padding: 15px;
    border-radius:15px ;
    font-size: 30px;
}
.button3:hover{
    background-color: palevioletred;
    color: white;
}
