* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(4, 4, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn {
  width: 200px;
  padding: 15px 0;
  border-radius: 5px;
  border: 1px solid rgb(9, 236, 9);
  background-color: transparent;
  color: rgb(9, 236, 9);
  cursor: pointer;
  position: relative;
  font-weight: 700;
}
.layer {
  background-color: rgb(9, 236, 9);
  height: 100%;
  width: 0;
  position: absolute;
  left: 0;
  border-radius: 5px;
  top: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover {
  border: none;
  color: rgb(4, 4, 63);
}
.btn:hover .layer {
  width: 100%;
}
